
 body {
    text-align: center;
    font-family: sans-serif;
   
}
img {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    /* percentage instead of pixels for scalability */
    max-width: 50%;
    height: auto;
}
header {
    background-color: rgba(37, 57, 109, .10);
    padding-bottom: 40px;
    padding-top: 20px;
}